* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

.div-containers {
	display: flex;
}

.left-side {
	width: 40%;
	height: 100vh;
	background: url('assets/graphics/graphic.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-size: 110%;
}

.logo {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin: 8px;
	font-size: 2rem;
}

.tagline {
	position: relative;
	margin: 20px;
	top: 70%;
	text-align: center;
	font-weight: 500;
	font-size: 1.1rem;
}

.teal {
	color: rgb(20, 162, 165);
}

.right-side {
	width: 60%;
	background-color: rgb(195, 234, 241);
}

/*rgb(195,234,241)  rgb(38, 192, 181)*/

.form-container {
	margin-top: 20px;
	display: grid;
	grid-template-columns: 1fr 2fr;
}

form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 15px;
	column-gap: 50px;
}
.full-width {
	grid-column: 1/3;
}

.form-wrapper {
	margin: 0px 60px;
	width: 500px;
	float: left;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.form-title {
	font-size: 2.2rem;
}

form div {
	display: flex;
	flex-direction: column;
}

form input {
	border-radius: 5px;
	border: 0.5px solid gray;
	padding: 5px;
}

button {
	padding: 10px;
	border-radius: 10px;
	border: 0.2px solid grey;
	background-color: rgb(6, 63, 87);
	font-weight: bold;
	color: white;
	margin-top: 12px;
}

button:hover {
	cursor: pointer;
}

.hover {
	cursor: pointer;
}

/*FORM VALIDATION*/

.input-control input:focus {
	outline: 0;
}

.input-control.success input {
	border-color: #09c372;
	background-color: #dff8ee;
}
.input-control.error input {
	border-color: #ff3860;
	background-color: rgb(253, 229, 235);
}
.input-control.error {
	color: #ff3860;
	font-size: 12px;

	margin: 10px 0px;
}
